body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  color: white;
  margin: 1rem;
  padding-top: 1rem;
}
.gradient-text {
  /* Fallback: Set a background color. */
  background-color: black;

  font-size: 2rem;
  background: linear-gradient(45deg, rgb(89, 192, 89), rgb(56, 139, 249), rgb(222, 30, 222));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block
}

.bgColor {
  background: linear-gradient(45deg, rgba(89, 192, 89, 0.380), rgba(56, 140, 249, 0.380), rgba(222, 30, 222, 0.380));
  min-height: 100vh;
}


.photo {
  max-width: 500px;
  border-radius: 20px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  .about {
    flex-direction: column;
  }
}

.portfolio-box {
  position: relative;
}

.portfolio-caps {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
}

.portfolio-box .portfolio-caps .portfolio-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-box:hover .portfolio-caps {
  opacity: 0.9;
}

.project-col{
  padding: 1rem;
}

.devicon{
  font-size: 200%;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px #00000072;
}
.deviconColor{
  font-size: 200%;
  text-shadow: 2px 2px 5px #00000072;
}

.icontxt{
  text-align: center;
  font-size: smaller;
}

.iconInfo{
  text-align: center;
}

.box1 {
  display: block;
}

.box2 {
  display: none;
}

.wrapper{
  width: auto;
  display: inline-block;
}

.wrapper:hover .box1 {
  display: none;
}

.wrapper:hover .box2 {
  display: block;
}

.content {
  position: relative;
  min-height: 91vh;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.iconBox{
  max-width: 40rem;
}